<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title=URL Shortener</title>
    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
    <section class="hero is-fullheight wrapper">
        <div>
            <h1 class="title">Successful</h1>
            <p class="smallTitle">Your new link is: <a href="<%= link %>/<%= token%>"><%= link %>/<%= token%></a></p>
        </div>
    </section>
    <script src="/assets/index.js"></script>
</body>
</html>